<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Contacto</h5>
                <p><i class="bi bi-envelope"></i> camilo.zavala.c@gmail.com</p>
                <p><i class="bi bi-telephone"></i> +569 45511404</p>
            </div>
            <div class="col-md-4">
                <h5>Enlaces</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none">Acerca de</a></li>
                    <li><a href="#" class="text-decoration-none">Términos y Condiciones</a></li>
                    <li><a href="#" class="text-decoration-none">Privacidad</a></li>
                </ul>
            </div>
            <div class="col-md-4 text-end">
                <p>&copy; {% now "Y" %} Mi Aplicación. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>